html
  head
  body
    div
      span Kimalo Technologies
      ol
        li Guide
        li Documentation
        li Contact and Support
        li Careers
    h1 Kimalo Technologies
    p Enterprise Management and Consulting Solutions
    p Contact us for Enterprise Solutions at https://mobile.twitter.com/KimaloTech
    p Copyright 2018. All rights reserved. Kimalo is a registered trademark of Kimalo Technologies Ltd.
